* {
    margin: 0;
    padding: 0;
}

body {
    background: #dce0ed;
    height: 100vh;
    margin: 70px 70px 70px 70px;
}

.app-container {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
}

.menu {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    border-right: 1px solid rgba(0,0,0,.08);
    background-color: #ffffff;
}

.page-container {
    height: 100%;
    width: 100%;
    background-color: #efefef;
}