@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: #dce0ed;
    height: 100vh;
    margin: 70px 70px 70px 70px;
}

.app-container {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
}

.menu {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    border-right: 1px solid rgba(0, 0, 0, .08);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease;
    min-width: fit-content;
}

.menu--collapsed {
    width: 5%;
}

.menu--collapsed .navbar__button__label, .menu--collapsed .user__details, .menu--collapsed .navbar__notifications {
    display: none;
}

.menu--collapsed .navbar__buttons-container {
    align-items: center;
}

.menu--collapsed .navbar__button, .menu--collapsed .navbar__button--selected {
    padding: 10px;
}

.menu--collapsed .menu__name__label {
    color: #277dff;
    font-size: 42px;
    font-weight: normal;
}

.menu__line {
    width: 70%;
    color: transparent;
    border-top: 1px solid rgba(0, 0, 0, .10);
}

.menu__name {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__name__label {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #abb4c2;
}

.navbar__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 18px 10px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    background-color: transparent;
}

.navbar__button {
    color: #abb4c2;
    background-color: transparent;
}

.navbar__button:hover {
    color: #969eab;
}

.navbar__button--selected {
    color: white;
    background-color: #277dff;
}

.navbar__button--selected:hover {
    color: #ebebeb;
}

.navbar__button--selected .navbar__notifications {
    background-color: white;
    color: #277dff;
}

.navbar__notifications {
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 8px;
    background-color: #277dff;
}

.navbar__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar__button__label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
}

.navbar__button__icon {
    font-size: 24px;
}

.user {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.user__img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user__img {
    width: 100%;
    height: 100%;
}

.user__details {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.user__details__name {
    font-size: 14px;
    font-weight: bold;
}

.user__details__title {
    font-size: 10px;
}

.main-content {
    height: 100%;
    width: 100%;
    background-color: #efefef;
}

.main-content__header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease;
}

.arrow--right {
    transform: rotate(180deg);
}