@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: #dce0ed;
    height: 100vh;
    margin: 70px 70px 70px 70px;
}

.app-container {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
}

.menu {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, .08);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container {
    height: 100px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
}

.name {
    padding-top: 5px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 107px;
    height: 200px;
    width: 100%;
    color: #abb4c2;
}

.navbar li {
    list-style: none;
}

.navbar-container {
    padding-top: 40px;
    display: flex;
    align-items: center;

}

.navbar-text {
    font-size: 12px;
    font-weight: bold;
}

.navbar-icon {
    font-size: 22px;
    padding-right: 5px;
}

.page-container {
    height: 100%;
    width: 100%;
    background-color: #efefef;
}